html {
  scroll-behavior: smooth;
}
html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-image: radial-gradient(
    circle,
    rgb(6, 83, 199),
    #27449c,
    #2c3673,
    #28294c,
    #1e1d29
  );
  color: white;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
/* estructura de navegacion */
nav {
  position: sticky;
  top: 0;
  background-color: rgb(6, 83, 199, 0.5);
  backdrop-filter: blur(1px);
  z-index: 10;
  display: flex;
  align-items: center;
  min-height: 56px;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}
a{
  text-decoration: none;
}
.nav-hidden {
  transform: translateY(-100%);
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}
h1 {
  font-weight: 900;
}
h2 {
  font-weight: 400;
}
nav a {
  text-decoration: none;
  color: inherit;
}
/* cabecera */
header {
  min-height: 100dvh;
}
section{
  margin: 16px;
  border-radius: 30px;
}
.nombre {
  min-height: 70dvh;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: center;
}
.h2animado {
  display: block;
  white-space: nowrap;
  border-right: 6px solid #1266e4;
  width: 19ch;
  animation: typing 3s steps(19), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/* seccion sobre mi  */
.seccion1 {
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(1px);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 16px;
}
/* seccion de proyectos */
.seccion2 {
  min-height: auto;
  padding: 16px;
  display: flex;
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(1px);
  flex-direction: column;
  gap: 1rem;
}
.contenedor-proyectos {
  display: flex;
  overflow-y: auto;
  scroll-snap-type: x mandatory;
  padding: 1rem 0;
  gap: 2rem;
}
.carrucel-proyectos::-webkit-scrollbar {
  display: none;
}
.proyecto {
  min-height: 300px;
  width: 100%;
  max-width: 350px;
  background-color: #0653c780;
  backdrop-filter: blur(1px);
  border-radius: 30px;
  -webkit-box-shadow: 5px 7px 15px -6px #000000;
  box-shadow: 5px 7px 15px -6px #000000;
  flex: 0 0 85%;
  scroll-snap-align: center;
}
/* seccion experiencias */
.seccion3 {
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(1px);
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 0.5rem;
}
.experiencia-laboral {
  background-color: #ffffff59;
  backdrop-filter: blur(1px);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 16px;
  padding: 16px;
  min-height: auto;
}
/* seccion de contacto */
.seccion4 {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 0.5rem;
}
.imagenes-contacto {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
footer {
  background-color: #0653c780;
  backdrop-filter: blur(1px);
  display: flex;
  flex-direction: column;
  min-height: 20dvh;
  text-align: center;
  justify-content: center;
}
@media (min-width: 768px) {
  nav ul {
    gap: 1.5rem;
  }
  section{
  margin: 16px  0px 16px 0px;
  border-radius: 30px;
}
  
  .contenedor-proyectos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    overflow: visible;
    gap: 2rem;
  }
  .proyecto {
    min-height: 300px;
    width: 100%;
    max-width: 400px;
    flex: none;
  }
}

@media (min-width: 1024px) {
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
  .nombre{
    max-width: 1200px ;
    margin: 0 auto;
    padding-left: 2rem;
  }
}
