html {
  scroll-behavior: smooth;
}
html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-color: rgb(56, 56, 56);
  color: white;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
/* estructura de navegacion */
nav {
  position: sticky;
  top: 0;
  background-color: aquamarine;
  z-index: 10;
  display: flex;
  align-items: center;
  min-height: 56px;
}
nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
nav a {
  text-decoration: none;
  color: inherit;
}
/* cabecera */
header {
  min-height: 100dvh;
}
.nombre {
  min-height: 70dvh;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: center;
}
/* seccion sobre mi  */
.seccion1 {
  background-color: aqua;
  padding: 16px;
}
/* seccion de proyectos */
.seccion2 {
  min-height: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contenedor-proyectos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.proyecto {
  min-height: 300px;
  width: 100%;
  max-width: 350px;
  background-color: aqua;
  border-radius: 30px;
  -webkit-box-shadow: 5px 7px 15px -6px #000000;
  box-shadow: 5px 7px 15px -6px #000000;
}
/* seccion experiencias */
.seccion3 {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
/* seccion de contacto */
.seccion4 {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 0.5rem;
}
.imagenes-contacto {
  background-color: aqua;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
footer {
  background-color: aqua;
  padding: 16px;
}
@media (min-width: 768px) {
  .contenedor-proyectos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 2rem;
  }
  .proyecto {
    min-height: 300px;
    width: 100%;
    max-width: 400px;
  }
}
@media (min-width: 1024px){
  main{
    max-width: 1200px;
    margin: 0 auto;
  }
}